.allChats{
    padding: 10px 0px;
    height: 100%;
    background-color: rgb(182, 182, 182);
}
.searchUser{
    padding: 5px 8px;
    width: 100%;
}
.addUser{
    margin: 10px 0;
}
.chats{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}